
// colors

$white:#FBFBFB;
$black:#141414;
$red:#FF3944;
$yellow:#FFDA00;
$light-blue:#89CAF4;
$light-green:#A2EDE4;
$gray:#F1F1F1;

//Fonts


$font-wordcamp: 'Outfit', san-serif;

$initial-font-weight: 10px;

