#wm-6edition{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 80px;
    padding-bottom: 80px;

    h2{
        margin-top: 0px;
        mark{
            background-color: transparent;
        }
    }
}