
@mixin footer-menu-wide(){
    #menu-wm-footer{
        gap: 20px;
        flex-wrap: wrap;
        flex-direction: row;
        .menu-item{     
            font-size: 1.6rem;
            line-height: 2rem; 
        }

    }
}

.header-footer-group {

    background-color: $black !important;
    color: $white;

}

.footer-widgets-wrapper{
    div.footer-widgets{
        width: 100%;
        
    }
}

div#wm-footer{
    
    div.wp-block-group__inner-container{
        div.wm-newsletter{
            max-width: 80vw !important;
            display: flex;
            font-family:$font-wordcamp ;
            background-color: $red;
            padding: 2.4rem;
            justify-content: center;
            
            h2{
                font-size: 3.8rem;
                font-weight: 600;
                color: $white;
                margin-bottom: 0px;
                line-height: 50px;
                letter-spacing: 1px;
            }

            p{
                font-size: 1.5rem;
                font-weight: 400;
                font-style: normal;
                color: $white;
                line-height:2.8rem;
                letter-spacing: 1px;
            }

            .wp-block-jetpack-subscriptions__container{
       
                #subscribe-blog-1{
                    align-items: stretch;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 5px;
                    #subscribe-email{

                       margin: 0;
                        input[type="email"]{
                            font-size: 1.8rem;
                            font-weight: 400;
                            color: $black;
                            line-height:2.8rem;
                            letter-spacing: 1px;
                            border-radius: 100px !important;
                        }
                    }
                    #subscribe-submit{
                        
                        .wp-block-button__link{
                 
                            text-align: center;
                            font-size: 1.6rem;
                            color: $black;
                            font-style: normal;
                            background-color: $yellow;
                            font-weight: 600;
                            line-height: 20px;
                            letter-spacing: 1px;
                            text-transform: capitalize;
                            border-radius: 100px !important;
                            margin-left:0px !important;
                            padding: 10px 30px !important;
                        
                        }                          
                    }
                }
            }

        }

        .wp-block-image{
            figure{
                .wp-image-190{
                    width: 13rem !important;
                    aspect-ratio: 3/4;
                }
    
            }
          
        }

        div.wm-custom-copy{
            align-items: center;
            align-self: center;
            padding: 0px;
            margin: 0 auto;
            .wp-block-column:nth-child(odd){
                flex-basis:15% !important;
            }
            .wp-block-column:nth-child(even){
                justify-content: flex-start;
                font-weight: 700;
                font-size: 2.3rem;
                letter-spacing: 1px;
            }
            .wp-block-image{
                margin: 0;
                visibility: hidden;
                .wp-image-206{
                    width:0%
                    
                }
            }
        }

    }

    #menu-wordcam-menu-3{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
       
        li.menu-item
            {
                a{
                    font-family: $font-wordcamp;
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: $white;
                   
                }
                a:hover{
      
                        color: $red !important;

                }
            }
           
        }

        .footer-widgets, .widget{
            margin-top: 20px;
        }

        .wp-block-social-links{
            align-items: center;
            .wp-social-link-instagram{
                background-color: transparent;
                a{
                    svg{
                        width: 16px;
                        height: 16px;
                        
                    }
                }
            }
            .wp-social-link-facebook{
                @extend .wp-social-link-instagram;
            }
            .wp-social-link-linkedin{
                @extend .wp-social-link-instagram;
            }
            .wp-social-link-twitter{
                @extend .wp-social-link-instagram;
            }
            .wp-social-link-meetup {
                @extend .wp-social-link-instagram;
            }
        }
    
}

footer{

        .privacy-policy, .powered-by-wordpress,  .to-the-top{        
                color: $white;
        }

    .arrow{
            background-color: $yellow;
            color: $black;
            border-radius: 50%;
            width: 20px;
            display: inline-block;
            text-align: center;       
    }
  
}
.footer-copyright{
    visibility: hidden;
    width: 0px;
    margin: 0px;
    padding: 0px;
    display: none;
}


#menu-wm-footer{
    text-align: center !important;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin: 20px auto;
    .menu-item{       
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 600;
            line-height: 1.6rem; 
            letter-spacing: 1px;
            text-transform: capitalize;
            a{
                font-family: $font-wordcamp !important;
                color: $white;
                
            }

            a:hover{
                color: $red;
            }
    }
}

@media screen and (min-width: 375px) and (max-width:1024px){
    #subscribe-submit{
        max-width: 100% !important;
        // width:100 !important;

    }

    div.wm-newsletter{
        min-height: auto;
        padding: 6rem;
    }
    div.wm-custom-copy{
        gap: 10px;
        padding: 0px;
        justify-content: space-around;
        margin: 0 auto;
        .wp-block-column:nth-child(odd){
            display: flex;
            justify-content: flex-end;
            flex-basis:20% !important;
            .wp-block-image{
                justify-content: flex-end;
                margin: 0;
                visibility: visible !important; 
                .wp-image-206{
                    width:5rem;
                    aspect-ratio: 1/1;
                    align-self: center
                }
            }
        }
        .wp-block-column:nth-child(even){
            display: flex;
            justify-content: flex-start;
            font-weight: 700;
            font-size: 2.3rem;
            letter-spacing: 1px;
        }
        
    }

    @include footer-menu-wide();

}

@media screen and (min-width:1024px) {
    #subscribe-submit{
        max-width: 30% !important;
        width:30% !important;
    }
    div.wm-newsletter{
        min-height: auto;
        padding: 6rem;
    }

    div.wm-custom-copy{
        .wp-block-column:nth-child(odd){
            display: flex;
            justify-content: flex-end;
            flex-basis:25% !important;
            .wp-block-image{
                justify-content: flex-end;
                margin: 0;
                visibility: visible !important;
                .wp-image-206{
                    width:5rem;
                    aspect-ratio: 1/1;
                    align-self: center
                }
            }
        }
        .wp-block-column:nth-child(even){
            display: flex;
            justify-content: flex-start;
            font-weight: 700;
            font-size: 2.3rem;
            letter-spacing: 1px;
        }
    }
   @include footer-menu-wide();
}

.wp-block-jetpack-subscriptions__form-elements{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    #subscribe-submit{
        width: 100% !important;

        .wp-block-button__link{
            line-height: 35px !important;
        }

        button{
            margin-left: 0 !important;
            margin-top: 20px !important;
        }
    }
}

@media(min-width: 768px){
    .wp-block-jetpack-subscriptions__form-elements{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        #subscribe-email{
            width: 350px;
        }
    
        #subscribe-submit{
            width: 100% !important;
            padding-left: 30px;
            margin-left: 30px;

            button{
                margin-top: 0px !important;
                min-width: 235px;
                margin-left: 20px !important;
            }
        }
    }
}