/* header */

header#site-header{
	background: $black!important;
	a{
		color: $white!important;
	}
	.header-titles{
		.site-logo {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 5px;
			.custom-logo{
				width: 3rem;
				height: 3rem;
			}
			.screen-reader-text{
				clip: auto;
				clip-path: none;
				width: fit-content;
				height: fit-content;
				font-family: $font-wordcamp;
				font-size: 1.2rem;
				font-style: normal;
				font-weight: 700;
				line-height: 2rem; 
				letter-spacing: 0.1rem;
				text-transform: capitalize;
				color: $white!important;
				position: static !important;

			}
		}
	}
}

@media screen and (min-width: 640px) {

	header#site-header{
		.header-titles{
			.site-logo {
				.custom-logo{
					width: 5rem;
					height: 5rem;
				}

				.screen-reader-text{
					font-size: 2.3rem;
					line-height: 4rem;
				}
			}
		}
	}
}

header{
	.header-inner{
		.search-toggle{
			.toggle-text{
				display: none;
			}
			svg{
				color: white;
			}
		}

		.nav-toggle{
			.toggle-text{
				display: none;
			}
			svg{
				color: white;
			}
		}
	}
}

.mobile-menu{
	.modal-menu{
		.sub-menu{
			.menu-item{
				div{
					a{
						color: #cd2653;
					}
				}
			}
		}
	}
}


@media(min-width: 768px){
	.header-toggles.hide-no-js{
		display: none;
	}
}