@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

// colors

$white:#FBFBFB;
$black:#141414;
$red:#FF3944;
$yellow:#FFDA00;
$light-blue:#89CAF4;

//Fonts

$outfit:'Outfit', sans-serif;
